{
  "default_exchange": "binance",
  "exchanges": {
    "binance": {
      "api_key": "YOUR_BINANCE_MAINNET_API_KEY",
      "secret_key": "YOUR_BINANCE_MAINNET_SECRET_KEY"
    },
    "binance_testnet": {
      "api_key": "YOUR_BINANCE_TESTNET_API_KEY",
      "secret_key": "YOUR_BINANCE_TESTNET_SECRET_KEY"
    },
    "upbit": {
      "api_key": "YOUR_UPBIT_API_KEY",
      "secret_key": "YOUR_UPBIT_SECRET_KEY"
    },
    "bithumb": {
      "api_key": "YOUR_BITHUMB_API_KEY",
      "secret_key": "YOUR_BITHUMB_SECRET_KEY"
    }
  },
  "telegram_token": "YOUR_TELEGRAM_BOT_TOKEN"
}